.container{
  width:100%;
  height: 100%;
  overflow:hidden;
}

.pages{
  display:flex;
  width: 200%;
  height: 100%;
  box-sizing: border-box;
}

.page{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  gap: 10px;
  transition: all 1s;
  transition: transform 0.5s ease;
}

  /* Start Main Menu test*/
  ul {
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 100%; /* Menu spans the full width */
    z-index: 3; /* Menu at top */
    transition: top 0.3s; /* Add a smooth transition effect */
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:hover {
    color: #9370db;
  }

  /* Start Drop Down Menu for Artworks*/
  .dropdown-content {
    display: none;
    position: fixed;
    transform: translateX(-10%); 
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3; /*Dropdown is above other stuff */
    
}
/* Show the dropdown when hovering over the dropdown */

.dropdown:hover .dropdown-content {
    display: block;
}
  /* End Drop Down Menu */

  /* End Main Menu */


  /* Banner Image with my name and title*/
.banner-image {
    background-image: url('images/PORT8.jpg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 40vh; 
    z-index: -1; /*behind other things*/
  }
/* End Banner Image */

/* Banner Div  */
.info {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 120px;
  }
  
  .info h1 {
    font-size: 36px;
    color: #333;
  }
/* End Banner Div  */

/* Website Sections*/
#Artworks {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding: 20px;
    position: relative;
    top: 200px;
  }
  
  #Artworks h1 {
    font-size: 26px;
    color: #333;
  }

  #Sketches {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding: 20px;
    position: relative;
    top: 250px;
  }
  
  #Sketches h1 {
    font-size: 26px;
    color: #333;
  }

  #Assets {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding: 20px;
    position: relative;
    top: 270px;
  }
  
  #Assets h1 {
    font-size: 26px;
    color: #333;
  }

  #Games {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding: 20px;
    position: relative;
    top: 300px;
  }
  
  #Games h1 {
    font-size: 26px;
    color: #333;
  }

  #About {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding: 20px;
    position: relative;
    top: 300px;
  }
  
  #About h1 {
    font-size: 26px;
    color: #333;
  }

  #Contact {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding: 20px;
    position: relative;
    top: 300px;
  }
  
  #Contact h1 {
    font-size: 26px;
    color: #333;
  }
  
  /*Image gallery for all the pretty drawings*/
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Gap between images */
  }
  
  .image-gallery img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
  }

  /* Hover effect for images */
  .image-gallery img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  /* Styles for the image overlay in the image gallery */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    overflow:auto;
    cursor:pointer;
  }
  
  #image-container {
    display: inline-block;
    max-width: 90%;
    max-height: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 10px; 
  }
  
  #enlarged-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
  
  #close-button {
    position: absolute;
    top: 10px;
    right: -30px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
/* Ensure close button is visible */
  #close-button.z-index {
    z-index: 3;
  }
  
  .artworks-container {
    text-align: center;
}


.image-description {
  display: flex;
}

.image-galleryGames {
  flex: 1;
  position:relative;
  text-align: right;
  overflow:hidden;
  transition: opacity 0.5s; 
  /*background-color: blue;*/
}

.description {
  text-align: left;
  font-size: 20px;
  padding-top: 50px;
  flex: 1;
  opacity: 0.5;
  transition: opacity 0.5s; /* Transition effect for opacity */
  padding-right: 100px;
  /*background-color: red;*/
}


.descriptionAbout {
  text-align: left;
  font-size: 20px;
  padding-top: 50px;
  flex: 1;
  padding-right: 100px;
  background-color: rgba(255, 255, 255, 1);
}

/* When hovering on the image, change its opacity and display the description */
.image-description:hover .image-gallery {
  opacity: 0.5;
}

.image-description:hover .description {
  opacity: 1;
}
.game-image {
  padding-top: 50px; 
  padding-right: 100px;
  width: 50%;
  max-width: 500px;
  min-width: 250px;
  height: auto;
  /*background-color: purple;*/
}

.about-image {
  padding-top: 50px; 
  padding-right: 50px;
  width: 50%;
  max-width: 400px;
  min-width: 250px;
  height: auto;
  /*background-color: purple;*/
}

/*for smaller screens-overlay*/
@media (max-width: 768px) {
    #enlarged-image {
        display: block;
        max-height: 10px;
        margin: auto auto;
        margin: 0 auto;
        top: 50px;
        max-width: 100%;  
        max-height: calc(100vh - 60px); 
        padding-top: 50px;
    }
    #close-button {
        position: static; 
        text-align: center;
        margin-top: 80px; 
    }
}
/*make links prettyyy*/
.game-link {
  text-decoration: none; 
  color: purple; 
  transition: color 0.3s; 
}

.game-link:hover {
  color: #9370db; 
}

a.email-link,
a.linkedin-link {
    color: darkviolet; 
    text-decoration: none; 
}

a.email-link:visited,
a.linkedin-link:visited {
    color: darkviolet; 
}

.Samuel-image
{
  padding-bottom: 300px;
  max-width: 50%;
  max-height: 50%;
}

